.userForm{
    margin: 0 auto;
    border: 1px solid rgba(25, 118, 210, 0.5);
    width: 260px;
    padding: 20px;
    border-radius: 4px;
}
input {
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-radius: 4px;
    width: 240px;
    height: 28px;
}
.title{
    color:#1976d2; 
    text-align: center;
}
.error{
    color:rgba(25, 118, 210, 0.5);
    font-size: small;
}
.login_btn{
    margin: 150px;
}