.Fb_Cr_G{
   display: flex;
   flex-direction: row;
   /* justify-content:center; */
   /* align-items:stretch; */
}
.iconF{
   width: 50px;
   height: 50px;
}
.iconCr{
   width: 90px;
   height: 60px;
   }
.iconG{
   width: 60px;
   height: 60px;
   }