
.App{
padding:20px;
background: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2400&q=80) center center no-repeat;

background-size: cover;
width: 100%;
min-height: 100vh;
}
.Header{
  display: flex;
  
}

.LinkItem{
  margin: 3px;
  color:rgb(43, 82, 165)
}
